# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.IIW_Project2.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\AORUS\Desktop\IMPORTANT\Unity\IIW_Project2\.idea\.idea.IIW_Project2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
